In [1]:
import pandas as pd

In [2]:
data_file_path = '/Users/manish/Downloads/Myntra Products - myntra_products_catalog.csv'

In [3]:
data = pd.read_csv(data_file_path)

# Quick Look

In [4]:
data.head(3)

,ProductID,ProductName,ProductBrand,Gender,Price (INR),Number of Images,Description,Primary Color
0,10017413,DKNY Unisex Black & Grey Printed Medium Trolle...,DKNY,Unisex,11745,7,"Black and grey printed medium trolley bag, sec...",Black
1,10016283,EthnoVogue Women Beige & Grey Made to Measure ...,EthnoVogue,Women,5810,7,Beige & Grey made to measure kurta with churid...,Beige
2,10009781,SPYKAR Women Pink Alexa Super Skinny Fit High-...,SPYKAR,Women,899,7,Pink coloured wash 5-pocket high-rise cropped ...,Pink

In [5]:
data.tail(5)

,ProductID,ProductName,ProductBrand,Gender,Price (INR),Number of Images,Description,Primary Color
12486,10262843,Pepe Jeans Men Black Hammock Slim Fit Low-Rise...,Pepe Jeans,Men,1299,7,"Black dark wash 5-pocket low-rise jeans, clean...",Black
12487,10261721,Mochi Women Gold-Toned Solid Heels,Mochi,Women,1990,5,"A pair of gold-toned open toe heels, has regul...",Gold
12488,10261607,612 league Girls Navy Blue & White Printed Reg...,612 league,Girls,602,4,Navy Blue and White printed mid-rise denim sho...,Blue
12489,10266621,Bvlgari Men Aqva Pour Homme Marine Eau de Toil...,Bvlgari,Men,8950,2,Bvlgari Men Aqva Pour Homme Marine Eau de Toil...,NaN
12490,10265199,Pepe Jeans Men Black & Grey Striped Polo Colla...,Pepe Jeans,Men,799,5,"Black and grey striped T-shirt, has a polo col...",Black

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12491 entries, 0 to 12490
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ProductID         12491 non-null  int64
 1   ProductName       12491 non-null  object
 2   ProductBrand      12491 non-null  object
 3   Gender            12491 non-null  object
 4   Price (INR)       12491 non-null  int64
 5   Number of Images  12491 non-null  int64
 6   Description       12491 non-null  object
 7   Primary Color     11597 non-null  object
dtypes: int64(3), object(5)
memory usage: 780.8+ KB

In [7]:
data.describe(include = "all")

,ProductID,ProductName,ProductBrand,Gender,Price (INR),Number of Images,Description,Primary Color
count,1.249100e+04,12491,12491,12491,12491.000000,12491.000000,12491,11597
unique,NaN,10761,677,6,NaN,NaN,10435,27
top,NaN,Parx Men Blue Slim Fit Checked Casual Shirt,Indian Terrain,Women,NaN,NaN,"Blue medium wash 5-pocket mid-rise jeans, clea...",Blue
freq,NaN,16,971,5126,NaN,NaN,54,3443
mean,9.917160e+06,NaN,NaN,NaN,1452.660956,4.913698,NaN,NaN
std,1.438006e+06,NaN,NaN,NaN,2118.503976,1.092333,NaN,NaN
min,1.012060e+05,NaN,NaN,NaN,90.000000,1.000000,NaN,NaN
25%,1.006215e+07,NaN,NaN,NaN,649.000000,5.000000,NaN,NaN
50%,1.015463e+07,NaN,NaN,NaN,920.000000,5.000000,NaN,NaN
75%,1.021565e+07,NaN,NaN,NaN,1499.000000,5.000000,NaN,NaN
max,1.027514e+07,NaN,NaN,NaN,63090.000000,10.000000,NaN,NaN

In [8]:
data.ProductBrand.value_counts(normalize = True)

Indian Terrain                  0.077736
Puma                            0.027620
Pepe Jeans                      0.027220
AURELIA                         0.024578
Flying Machine                  0.024097
                                  ...
Johnny Bravo by Kook N Keech    0.000080
Allen Solly Sport               0.000080
HAMMER                          0.000080
CUTECUMBER                      0.000080
Stupid Cupid                    0.000080
Name: ProductBrand, Length: 677, dtype: float64

# Remove Dupes

In [9]:
data.drop_duplicates(inplace = True)

# Most Expensive Product

In [10]:
data.sort_values('Price (INR)', ascending = False).head(5)

,ProductID,ProductName,ProductBrand,Gender,Price (INR),Number of Images,Description,Primary Color
7416,10184209,Garmin Unisex Blue Forerunner 945 Smartwatch 0...,Garmin,Unisex,63090,4,Features:Sync music from select premium stream...,Blue
7465,10184211,Garmin Unisex Black Forerunner 945 Smartwatch ...,Garmin,Unisex,63090,4,Features:Sync music from select premium stream...,Black
1568,10026421,MOVADO Men Black Analogue Watch 607243,MOVADO,Men,58854,3,Display: AnalogueMovement: QuartzPower source:...,Black
1376,10026411,MOVADO Women Blue Analogue Watch 607268,MOVADO,Women,56192,3,Display: AnalogueMovement: QuartzPower source:...,Blue
9400,10223339,SEIKO Solar Women Silver Analogue watch SUP428P1,SEIKO,Women,34500,6,Display: AnalogueMovement: QuartzPower source:...,Silver

# Average Price of Chumbak Products

In [11]:
data[data.ProductBrand == "Chumbak"]["Price (INR)"].mean()

770.0833333333334

# Images for WROGN products vs Images for GAP products

In [12]:
data[(data.ProductBrand == "GAP") | (data.ProductBrand ==  "WROGN")].groupby(["ProductBrand"]).agg({"Number of Images": "sum"})

              Number of Images
ProductBrand
GAP                        951
WROGN                     1045

In [13]:
1045 - 951

94

# Raymond Total Sales at current Price

In [14]:
data[data.ProductBrand == "Raymond"]["Price (INR)"].sum()

142730

# Gender with most items

In [15]:
data.Gender.value_counts(normalize = True)

Women          0.410375
Men            0.367545
Unisex         0.095108
Boys           0.088063
Girls          0.035225
Unisex Kids    0.003683
Name: Gender, dtype: float64

41% of items belong to Women